
.page-acai {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

.cx1,
.cx2,
.cx3,
.cx4 {
    margin-top: 1em;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 4px #534b4b40;
}

}